name: Generate GH Stats (All Repos)

on:
  schedule:
    - cron: '0 3 * * *'  # Executa todo dia às 03:00 UTC
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: npm install

        # - name: Instalar dependências necessárias
        # run: |
        #   # Instala APENAS os pacotes que você precisa para gerar o gh-stats.png
        #   npm install node-fetch dayjs dayjs-plugin-utc dayjs-plugin-timezone

      - name: Generate Stats
        env:
          GITHUB_TOKEN: ${{ secrets.MY_PERSONAL_TOKEN }}
        run: npm run generate:stats

      - name: Commit stats
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add gh-stats.png
          git commit -m "Update GH stats [skip ci]" || echo "No changes"
          git push
